@value global-radius, font-large, font-medium, font-small from '../settings';
@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-crimson, color-bombay from '../common/colors.css';

.sidebar{
    position: fixed;
    text-align: center;
    right:0px;
    width:15%;
    display:flex;
    background-color: color-athens-gray;
    border: 2px solid color-mercury;
    border-radius: global-radius;
}