@value global-radius, font-large, font-medium, font-small from '../settings';
@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-crimson, color-bombay from '../common/colors.css';

.sidebar{
    position: absolute;
    text-align: left;
    right:0;
    top:0;
    width:20%;
    background-color: color-athens-gray;
    border: 2px solid color-mercury;
    border-radius: global-radius;
    height:100%;
}

.sidebar h1{
    text-align: center;
    background: color-dodger-blue;
}

@media screen and (max-width: 480px) {
    .sidebar{
        position:relative;
        width:100%;
        left:0;
    }
}